{% extends "base.html" %}

{% block title %}

<h1 class="display-4 text-white mb-4 animated slideInRight">판례란?</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
        <p class="text-white mb-4 animated slideInRight">법원이 특정 소송사건에 대하여서 법을 해석 ·적용하여 내린 판단·판결례</p>
    </ol>
</nav>
{% endblock %}

{% block content %}

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-light p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
    

<!-- Contact Start -->
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">법령 판례 AI</div>
            <h1 class="mb-4">궁금하신 법적 판례를 질문해주세요.</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="text-center mb-4">오른쪽 하단 <font color="#800080"><strong>아래 채팅창에</strong></font>,궁금하신 법적인 판례를 질문해주세요.<br><a href="https://www.law.go.kr/">국가법령정보센터
                        바로가기</a>.</p>
                <div class="wow fadeIn" data-wow-delay="0.3s">
                </div>
            </div>
        </div>
    </div>
<!-- Contact End -->

<script>
    function send() {
        let userInput = $('#userInput').val();
        $('#userInput').val('')
        let mark = 'mark' + Math.floor(Math.random() * 100000)
        $.ajax({
            type: 'POST',
            url: '/chatbot',
            data: {userInput: userInput},
            success: function(result) {
                let obj = JSON.parse(result);
                $('<div></div>')
                        .attr({'class': 'd-flex flex-row mt-1', id: mark+'1'})
                        .appendTo('#container');
                    $('<div></div>')
                        .attr({'class': 'card w-75', id: mark+'2'}).appendTo('#'+mark+'1');
                    $('<div></div>')
                        .attr({'class': 'card-body', id: mark+'3'}).appendTo('#'+mark+'2');
                    $('<img></img>')
                        .attr({src: "{{url_for('static', filename='img/person.png')}}", height: '32'}).appendTo('#'+mark+'3');
                    $('<span></span>')
                        .text(' '+obj.user).appendTo('#'+mark+'3');
                $('<div></div>')
                        .attr({'class': 'd-flex flex-row-reverse mt-1', id: mark+'6'})
                        .appendTo('#container');
                    $('<div></div>')
                        .attr({'class': 'card bg-light text-dark w-75', id: mark+'7'}).appendTo('#'+mark+'6');
                    $('<div></div>')
                        .attr({'class': 'card-body text-end', id: mark+'8'}).appendTo('#'+mark+'7');
                    $('<span></span>')
                        .html(obj.chatbot.replaceAll('\n','<br>')+' ').appendTo('#'+mark+'8');
                    $('<img></img>')
                        .attr({src: "{{url_for('static', filename='img/bard-logo.png')}}", height: '32'}).appendTo('#'+mark+'8');                    
                            }
                        });
                    }
</script>

<div class="d-flex justify-content-center" style="width: 100%; height: 100%;">
        <span class="input-group-text"><img class="img-fluid" src="{{url_for('static', filename='img/person.png')}}" style="text-align: center; height: 32px; width: 32px;"></span>
        
        <input type="text" class="form-control" name="userInput" id="userInput" style="width: 40%;"
            onkeyup="if(window.event.keyCode==13) {send()}">
        <button class="btn btn-primary" type="submit" onclick="send()">전송</button>
</div>

<br>
    <div class="d-flex justify-content-center" style="margin-left: auto; margin-right: auto; margin-bottom: 40px; width: 900px; border:6px groove;">
        <div class="container overflow-auto" id="container" style="width: 80%; height: 600px; text-align: center;" >
        </div>
    </div>





<div title_html = "대한 법률 구조 공단"></div>
<div class="mx-auto text-center">
<iframe src="{{url_for('static', filename='img/공단map.html')}}" frameborder="1"
width="900" height="600"></iframe></div>




{% endblock %}