{% extends "base.html" %}

{% block title %}
<h1 class="display-4 text-white mb-4 animated slideInRight">판례란?</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
        <p class="text-white mb-4 animated slideInRight">법원이 특정 소송사건에 대하여서 법을 해석 ·적용하여 내린 판단·판결례</p>
    </ol>
</nav>
{% endblock %}

{% block content %}

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-light p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Contact Start -->
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">법령 판례 AI</div>
            <h1 class="mb-4">궁금하신 법적 판례를 질문해주세요.</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="text-center mb-4">오른쪽 하단 <font color="#800080"><strong>보라색 채팅 아이콘을 눌러</strong></font>,궁금하신 법적인 판례를 질문해주세요.<br><a href="https://www.law.go.kr/">국가법령정보센터
                        바로가기</a>.</p>
                <div class="wow fadeIn" data-wow-delay="0.3s">
                </div>
            </div>
        </div>
    </div>
<!-- Contact End -->

<!-- Back to Top ( 그냥 버튼 넣는곳 대체 )-->
<button id="chatbot_toggle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        style="display:none">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
    </svg>
</button>


<div class="mx-auto text-center">
<iframe src="{{url_for('static', filename='img/공단map.html')}}" frameborder="1"
width="900" height="600"></iframe></div>




{% endblock %}