{% extends "base.html" %}

{% block title %}
    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">법령 판례 AI Chatbot</div>
    <h1 class="display-4 text-white mb-4 animated slideInRight">법령 판례 AI 챗봇</h1>
    <p class="text-white mb-4 animated slideInRight">판례란? 법원이 특정 소송사건에 대하여 법을 해석 적용하여 내린 판단 판결례</p>
    <a href="/chatbot" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">챗봇 시작하기</a>

{% endblock %}

{% block content %}

    <!-- FAQs Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">챗봇 사용 방법</div>
                <h1 class="mb-4">챗봇, 이렇게 질문 하세요.</h1>
                <div class="about-img row">
                    <img class="img-fluid col-6" src="{{url_for('static', filename='img/003.png')}}" style=" width:800px; height:600px;">
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs Start -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{{url_for('static', filename='img/about-img.jpg')}}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">개요</div>
                    <h1 class="mb-4">AI 데이터 플렛폼을 활용한 빅데이터 분석 전문과 과정</h1>
                    <p class="mb-4">저희는 휴먼 교육센터에서 AI 데이터 Python, JAVA, Spring 를 활용하여 빅데이터 분석 전문가
                        과정을 배우는 수강생들 입니다. 이번에 미니 프로젝트로 AI Chatbot 만들기를 도전하게 되었습니다. 
                    </p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Python</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Java</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Spring</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Bootstrap</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Crawling</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>시각화</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Numpy</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Pandas</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>MachineLearning</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Open API</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Wep Server</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



    <!-- Team Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">우리팀 소개</div>
                    <h1 class="mb-4">저희는 있다, 잇다는 뜻의 It조 입니다.</h1>
                    <p class="mb-4">서로 다른 성격과 성향이 모여 많이 삐걱되기도 했지만 결국 의견을 하나로 모아 결과물을 만들어 냈습니다. 
                        서로를 인정하고 이어주었다는 의미에서 팀 이름을 It조로 지었습니다.
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{url_for('static', filename='img/Jo.jpg')}}" alt="">
                                        <h5 class="mb-0">조선우</h5>
                                        <small>기획 및 기획안 작성$main.py생성</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                                    <a class="btn btn-square btn-primary m-1" href="https://github.com/suryepm"><i class="bi bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{url_for('static', filename='img/Park.jpg')}}" alt="">
                                        <h5 class="mb-0">박진우</h5>
                                        <small>DB구축&util.py생성</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                                    <a class="btn btn-square btn-primary m-1" href="https://github.com/abcd6563"><i class="bi bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{url_for('static', filename='img/Ju.jpg')}}" alt="">
                                        <h5 class="mb-0">주세희</h5>
                                        <small>Html,CSS구축,main.py생성</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                                    <a class="btn btn-square btn-primary m-1" href="https://github.com/bong9C"><i class="bi bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{url_for('static', filename='img/Min.jpg')}}" alt="">
                                        <h5 class="mb-0">민해열</h5>
                                        <small>DB구축&util.py생성</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                                    <a class="btn btn-square btn-primary m-1" href=""><i class="bi bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock %}
